@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: 'Work Sans', sans-serif;
}
.hero-container {
    position: relative;
    overflow: hidden;
  }
  
  .hero-background {
    transition: background-image 0.5s ease-in-out;
  }
  
  .banner {
    @apply h-48 bg-gradient-to-r from-[#ED213A] to-[#93291E] flex flex-col items-center justify-center;
  }